In [1]:
# We can see in this python notebook how to implement Random Forest algorithm using different HTP probability

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("insurance_pre.csv")

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
# AI algorithms can not handle categorical data, since "sex and smoker" column contains 
# categorical values we need to convert the categorical value into numerical values
# using below method.

In [8]:
#data preprocessing
dataset=pd.get_dummies(dataset,drop_first=True) # here drop_first = True depicts that deleting the first distinct value of the state column while converting to numerical value columns

In [9]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [10]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [11]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [12]:
dependent=dataset[['charges']]

In [13]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0)

In [15]:
X_train # Before standardisation

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]

In [16]:
X_test # Before standardisation

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
1261   28  37.100         1         1           0
494    21  25.700         4         1           1
97     55  38.280         0         1           0
418    64  39.160         1         1           0
920    62  25.000         0         0           0

[402 rows x 5 columns]

In [ ]:
# STANDARDISATION
# ===============

In [ ]:
#from sklearn.preprocessing import StandardScaler
#sc=StandardScaler()
#X_train = sc.fit_transform(X_train) # inside this x-mu / sigma formula(standardisation) has been implemented
#X_test  = sc.transform(X_test) # whatever constant value identified in the above step same will be applied here

In [ ]:
#X_train # After Standardisation

In [ ]:
#X_test # After Standardisation

In [66]:
# Now create the model and check for the performance
from sklearn.ensemble import RandomForestRegressor
#regressor = RandomForestRegressor(criterion='squared_error', max_features = 'sqrt')
#regressor = RandomForestRegressor(criterion='squared_error', max_features = 'log2')
#regressor = RandomForestRegressor(criterion='squared_error', max_features = None)

#regressor = RandomForestRegressor(criterion='absolute_error', max_features = 'sqrt')
regressor = RandomForestRegressor(criterion='absolute_error', max_features = 'log2')
#regressor = RandomForestRegressor(criterion='absolute_error', max_features = None)

#regressor = RandomForestRegressor(criterion='friedman_mse', max_features = 'sqrt')
#regressor = RandomForestRegressor(criterion='friedman_mse', max_features = 'log2')
#regressor = RandomForestRegressor(criterion='friedman_mse', max_features = None)

#regressor = RandomForestRegressor(criterion='poisson', max_features = 'sqrt')
#regressor = RandomForestRegressor(criterion='poisson', max_features = 'log2')
#regressor = RandomForestRegressor(criterion='poisson', max_features = None)
regressor.fit(X_train,Y_train)

C:\Users\SkillRishi\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(criterion='absolute_error', max_features='log2')

In [67]:
Y_pred=regressor.predict(X_test) # Finding the predicted output values for the test input data

In [68]:
from sklearn.metrics import r2_score
r_score = r2_score(Y_test,Y_pred)

In [69]:
r_score

0.8728405845769904

In [ ]:
# To view the tree structure

#import matplotlib.pyplot as plt
#from sklearn import tree
#tree.plot_tree(regressor)
#plt.show()

In [ ]:
# Save the best model

In [70]:
import pickle # download the pickle library to save the model

In [71]:
filename = "Insurance_Finalized_Model_RandomForest.sav" # create a sav file to save our model

In [72]:
pickle.dump(regressor,open(filename,'wb')) # our model has been copying into the file, can see the .sav file in our working dir

In [ ]:
# Test our model

In [73]:
loaded_model=pickle.load(open("Insurance_Finalized_Model_RandomForest.sav","rb")) # loading our model into a variable

In [74]:
result=loaded_model.predict([[19,27.9,0,0,1]])

C:\Users\SkillRishi\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [75]:
result

array([17592.0961946])