In [1]:

# We can see in this python notebook how to implement XGBoost Algorithm

In [3]:
!pip install xgboost==1.0.1

Collecting xgboost==1.0.1
  Downloading https://files.pythonhosted.org/packages/c9/73/884e2d50ba8fc95bcb92c47910a8fbb8c80627f53a76250080c780c91185/xgboost-1.0.1-py3-none-win_amd64.whl (24.6MB)
Requirement already satisfied: scipy in c:\users\skillrishi\anaconda3\lib\site-packages (from xgboost==1.0.1) (1.3.1)
Requirement already satisfied: numpy in c:\users\skillrishi\anaconda3\lib\site-packages (from xgboost==1.0.1) (1.16.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.0.1

In [4]:
import pandas as pd
import xgboost as xg

In [5]:
dataset=pd.read_csv("insurance_pre.csv")

In [6]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [8]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [9]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [11]:
dependent=dataset[[ 'charges']]

In [ ]:
dependent

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0)

In [ ]:
X_train # Before standardisation

In [ ]:
X_test # Before standardisation

In [ ]:
# STANDARDISATION
# ===============

In [ ]:
#from sklearn.preprocessing import StandardScaler
#sc=StandardScaler()
#X_train = sc.fit_transform(X_train) # inside this x-mu / sigma formula(standardisation) has been implemented
#X_test  = sc.transform(X_test) # whatever constant value identified in the above step same will be applied here

In [ ]:
#X_train # After Standardisation

In [ ]:
#X_test # After Standardisation

In [18]:
#regressor = xg.XGBRegressor( objective = 'reg:linear', n_estimators = 10, seed = 123) 
regressor = xg.XGBRegressor( n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8) 
regressor.fit(X_train,Y_train)

XGBRegressor(base_score=0.5, booster=None, colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.1, gamma=0,
             gpu_id=-1, importance_type='gain', interaction_constraints=None,
             learning_rate=0.100000001, max_delta_step=0, max_depth=7,
             min_child_weight=1, missing=nan, monotone_constraints=None,
             n_estimators=1000, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=0.7,
             tree_method=None, validate_parameters=False, verbosity=None)

In [ ]:
# To view the tree structure

In [ ]:
#import matplotlib.pyplot as plt
#from sklearn import tree
#tree.plot_tree(regressor)
#plt.show()

In [19]:
Y_pred=regressor.predict(X_test) # Finding the predicted output values for the test input data

In [20]:
from sklearn.metrics import r2_score
r_score = r2_score(Y_test,Y_pred)

In [21]:
r_score

0.8188441380470363

In [ ]:
# For the dataset post to standardisation the SVM model performs very poor

In [ ]:
#pip uninstall scikit-learn